# URL API (Contoh: OpenAI, Groq, OpenRouter)
VITE_LLM_API_URL=https://api.openai.com/v1/chat/completions
# Model yang digunakan (Contoh: gpt-3.5-turbo, llama3-8b-8192)
VITE_LLM_MODEL=gpt-3.5-turbo
# API KEY ANDA
VITE_LLM_API_KEY=sk-xxxx-anda-disini